@model Kaizen_final.Models.Farmer

@{
    ViewData["Title"] = "Edit";
}

<html>
<style>
    label {
        color: #4D4D4D;
    }

</style>

<body style="background-color:#B6BB85;">

    <h2 style="text-align:center;color:#2F3B1C;">Edit Farmer Details</h2>
@*<h1>Edit</h1>

<h4>Farmer</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="farmerId" />
            <div class="form-group">
                <label asp-for="farmerName" class="control-label"></label>
                <input asp-for="farmerName" class="form-control" />
                <span asp-validation-for="farmerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="farmerEmail" class="control-label"></label>
                <input asp-for="farmerEmail" class="form-control" />
                <span asp-validation-for="farmerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="farmerPhoneNumber" class="control-label"></label>
                <input asp-for="farmerPhoneNumber" class="form-control" />
                <span asp-validation-for="farmerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
